build/
.bin_timestamp
CMakeCache.txt
CMakeFiles/
bootloader-prefix/
bootloader/
cmake_install.cmake
compile_commands.json
config.env
config/
esp-idf/
flash_app_args
flash_bootloader_args
flash_otadata_args
flash_partition_table_args
flash_project_args
flasher_args.json
ldgen_libraries
ldgen_libraries.in
mconf-idf-prefix/
ota_data_initial.bin
partition_table/
project_description.json
project_elf_src.c
threshold-switch.bin
threshold-switch.elf
threshold-switch.map
.vscode/
kconfig_bin/
